.logo{
    width: 240px;
    height: 150px;
    float:left;
    img{width: 240px;}
}
.header-right{
    width: 974px;
    float:left;
    margin-top:30px;
    .search{
        width: 760px;
        float:left;
        input{width: 685px;height: 36px;border:2px solid #FF4040;float:left;padding-left:15px;color:#A9A9A9;}
        button{
            width: 50px;height: 40px;background:#FF4040;float:left;
            i{font-size:20px;color:white;}
        }
        p{
            a{display:inline-block;margin-right:15px;line-height: 36px;font-size:14px;color:#aaa;}
            a:hover{color:#ff4040;}
        }
        ul{
            li{float:left;margin-right:30px;
                a{color:#333333;line-height: 44px;}
            }
        }
    }
    .shoppingcar{width: 130px;height: 38px;border:1px solid #d7d7d7;float:right;margin-right:14px;
        span{
            font-size:16px;line-height: 38px;color:#666666;
            i{padding:0 10px;}
        }
    }
}
.banner{
    height: 400px;
    float:right;
}
nav{
    float:left;
    width: 205px;
    height: 400px;
    background:#444444;
    ul{
        li{
            h3{
                height:33px;
                // overflow: hidden;
                padding: 0 10px 0 0;
                color: #fff;
                i{font-size:20px;color:#737373;margin:0 14px;width: 20px;font-weight:900;line-height: 33px}
                a{display: inline-block;font-size: 12px;color: #fff;line-height: 33px}
            }
        }
        li:hover{
            background:white;
            h3{color:black;}
            i{color:red;}
            a{color:black;}
        }
    }
}
.rushPurchase{
    margin-top:10px;
    height: 140px;
    background:pink;
}
#sale_content{
    background:red;
    padding:0 4px 10px;
    a{
        float: left;
        display:block;
        width: 234px;
        height: 130px;
        margin: 10px 5px 0 5px;
    }
}
.warp{
    margin-top:20px;
}
main{
    background:#F5F5F5;
}
.iflashbuy{
    .iflash_left{
        width: 267px;
        height: 400px;
        position:relative;
        float:left;        
        a{
            img{width: 267px;height: 400px;}
            .iflash_brand{
                position: absolute;
                left: 50%;
                bottom: 34px;
                width: 200px;
                height: 100px;
                margin-left: -100px;
                background:rgba(255,255,255,.7);
                text-align:center;
                h4{
                    margin-top: 20px;
                    font-size: 20px;
                    color: #333;
                    line-height: 24px;
                }
                .cut_line{
                    width: 30px;
                    height: 10px;
                    overflow: hidden;
                    margin: 2px auto 0;
                    border-top: 1px solid #333;
                }
                .sub_tit{
                    height: 16px;
                    overflow: hidden;
                    font-size: 14px;
                    line-height: 16px;
                    color: #333;
                }
            }
        }
    }
    .group_buy,.area_rank,{
        width: 484px;
        height: 400px;
        float:left;
        margin-left:12px;
        background:#fff;
        h4{
            margin-bottom: 7px;
            border-top: 1px solid #fb744b;
            color:white;
            em{
                display: inline-block;
                position: relative;
                top: -3px;
                width: 140px;
                margin-top: -3px;
                font-size: 18px;
                background:#FB6233;
                height: 32px;
                text-align:center;
                line-height: 32px;
                left:35%;
                i{
                    padding-right:10px;
                }
            }
        }
        .group_new{
            a{
                width: 250px;
                height: 360px;
                display:block;
                float:left;
                border-right:1px solid #ccc;
                img{
                    width: 250px;
                    height: 360px;
                }
            }
        }
        .group_amount,.group_sale{
            width: 232px;
            // margin-top:18px;
            a{
                display: block;
                height: 180px;
                margin: 0 18px 0 20px;
                border-bottom: 1px solid #f0f0f0;
                .group_tit{
                    height: 18px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    font-size: 18px;
                    color: #ec3639;
                    line-height: 18px;
                }
                .sub_tit{
                    position: relative;
                    z-index: 105;
                    width: 90px;
                    height: 40px;
                    overflow: hidden;
                    font-size: 14px;
                    color: #333;
                    line-height: 20px;
                }
                img{
                    width: 110px;
                    float:right;
                }
            }
        }
        
        
        

    }
    .area_rank{
        width: 453px;
        h4{
                 em{
                background:#F22E31;
            }
        }
       #randlist{
        border-bottom:1px solid #ddd;
        li{
            float:left;
            a{
                display:block;
                width: 82px;
                height: 34px;
                line-height: 34px;
                text-align:center;
                color:#666;
                font-size:12px;
            }
            a:hover{
                color:#f22e31;
                border-bottom:2px solid #f22e31;
            }
        }
       }
       #randcontent{
        li{
            float: left;
            width: 100px;
            margin: 15px 25px;
            cursor: pointer;
            a{
                position: relative;
                display: block;
                text-align: center;
                img{
                    width: 100px;
                    height: 100px;
                }
                .pro_name{
                        height: 18px;
                        overflow: hidden;
                        margin-top: 10px;
                        line-height: 18px;
                }
                .discount_info{
                    padding: 0px 6px;
                    background-color: #fb6233;
                    color: #fff;
                    position: absolute;
                    left: 0px;
                    bottom: 29px;
                }
            }
        }
       }
    }
}

// 爱上新
.lovenew{
    .new_left{
        float: left;
        width: 267px;
        height: 400px;
        overflow: hidden;
        margin-right: 12px;
        a{
            img{
                width: 267px;
                height: 400px;

            }
        }
    }
    .poser,.life{
        width: 484px;
        height: 400px;
        float:left;
        margin-right:12px;
        background:#fff;
        h4{
            margin-bottom: 7px;
            border-top: 1px solid #fb744b;
            color:white;
            em{
                display: inline-block;
                position: relative;
                top: -3px;
                width: 140px;
                margin-top: -3px;
                font-size: 18px;
                background:#FB6233;
                height: 32px;
                text-align:center;
                line-height: 32px;
                left:35%;
                i{
                    padding-right:10px;
                }
            }
        }
    }
    .life{
        width: 453px;
        margin-right:0;
    }
    .poser,.life{
        a{
            float: left;
            display: block;
            width: 250px;
            height: 360px;
            overflow: hidden;
            border-right: 1px solid #f0f0f0;
            img{
                width: 250px;
                height: 360px;
            }
        }
        .poser_right,.life_right{
            width: 200px;
            float: right;
            // height: 342px;
            overflow: hidden;
            margin-top: 1px;
            padding-right: 15px;
            font-size: 14px;
            line-height: 24px;
            li{
                position: relative;
                height: 90px;
                margin-bottom: 10px;
                padding: 10px 5px 10px;
                border-bottom: 1px solid #f0f0f0;
                a{
                    height: 90px;
                    display: block;
                    .pro_tit{
                        width: 95px;
                        height: 24px;
                        overflow: hidden;
                        position: relative;
                        z-index: 105;
                        color: #333;
                        line-height: 24px;
                    }
                    .pro_sub_tit{
                        position: relative;
                        z-index: 105;
                        height: 24px;
                        overflow: hidden;
                        color: #999;
                    }
                    img{
                        width: 90px;
                        height:90px;
                        position: absolute;
                        right: 5px;
                        bottom: 10px;
                    }
                }
            }
        }
    }
    .life{
        a{
            position: relative;
            float: left;
            display: block;
            // _display: inline;
            width: 205px;
            height: 210px;
            overflow: hidden;
            margin-left: 20px;
            padding-top: 8px;
            border-right: 1px solid #f0f0f0;
            img{
                position: absolute;
                right: -5px;
                bottom: 0;
                width: 210px;
                height: 210px;
            }
            .pro_tit{
                position: relative;
                z-index: 105;
                margin-top: 8px;
                font-size: 16px;
                color: #333;
            }
            .pro_sub_tit{
                position: relative;
                z-index: 105;
                width: 85px;
                height: 40px;
                overflow: hidden;
                margin-top: 5px;
                line-height: 20px;
                color: #999;
                font-size: 14px;
            }
        }
        .life_bottom{
            padding: 10px 0 0 14px;
            a{
                position: relative;
                float: left;
                display: block;
                width: 188px;
                height: 95px;
                overflow: hidden;
                margin: 0 6px;
                padding: 10px 0 0 12px;
                img{
                        position: absolute;
                        right: -5px;
                        top: 0;
                        height:105px;
                        width: 205px;
                }

            }
        }
    }
}
// 冬日
.global{
    display:block;
    .winter{
        display:block;
        height:100px;
        background:url(../images/index/winter.jpg) no-repeat;
        background-size:cover;
    }
    h4{
        padding: 12px;
        font-size: 20px;
        line-height: 20px;
        color:#645144;
    }
    .winter_left{
        width: 930px;
        .left_pic{
            width: 316px;
            height: 450px;
            float:left;
            img{
                width: 316px;
                height: 450px;
            }
        }
        .w_center{
            float: left;
            width: 609px;
            // _overflow: hidden;
            padding: 5px 5px 5px 0;
            background:#AB1C22;
            .fl>a>img{
                width: 405px;
                height: 220px;

                }
            .b_good{
                    float: left;
                    width: 202px;
                    margin-right: 1px;
                    a{
                        position: relative;
                        display: block;
                        height: 200px;
                        padding: 20px 0 0 20px;
                        background-color: #fff;
                        font-size: 14px;
                        line-height: 24px;
                        .pro_tit{
                            width: 150px;
                            height: 24px;
                            overflow: hidden;
                            color: #333;
                        }
                        .pro_sub_tit{
                            width: 150px;
                            height: 24px;
                            overflow: hidden;
                            color: #999;
                        }
                        img{
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            width: 140px;
                            height: 140px;
                        }
                    }
            
            }
            .r_content{
                width: 203px;
                height: 440px;
            }
            
        }
    }
            $cf06291:#f06291;
            $c54a472:#54a472;
            $cee9832:#ee9832;
            $cad7d62:#ad7d62;
            $c468bcb:#468bcb;
            $c54a472:#54a472;
    .winter_right{
        width: 298px;
        ul{
            li{
            
                float:left;
                a{
                    position: relative;
                    display: block;
                    width: 137px;
                    height: 138px;
                    overflow: hidden;
                    padding: 12px 0 0 12px;
                    line-height: 26px;

                    .pro_tit{
                        height: 26px;
                        overflow: hidden;
                        font-size: 14px;
                    }
                    .pro_sub_tit{
                        position: relative;
                        z-index: 105;
                        height: 26px;
                        overflow: hidden;
                        color: #757575;
                        font-family: "Century Gothic";
                    }
                    .pro_color{
                        width: 20px;
                        height: 3px;
                        overflow: hidden;
                        font-size: 0;
                        line-height: 0;
                    }
                    img{
                        position: absolute;
                        right: -5px;
                        bottom: 0;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
           
            li:nth-child(1){
                background-color:#ffe6ee;
                .pro_tit{
                    color:$cf06291;
                }
                .pro_color{
                    background-color:$cf06291;
                }
            }
            
            li:nth-child(2){
                background-color:#fff3e4;
                .pro_tit{
                    color:$cee9832;
                }
                .pro_color{
                    background-color:$cee9832;
                }
            }
            li:nth-child(3){
                background-color:#e9fbf0;
                .pro_tit{
                    color:$c54a472;
                }
                .pro_color{
                    background-color:$c54a472;
                }
            }
            li:nth-child(4){
                background-color:#f9eee9;
                .pro_tit{
                    color:$cad7d62;
                }
                .pro_color{
                    background-color:$cad7d62;
                }
            }
            li:nth-child(5){
                background-color:#f0f8ff;
                .pro_tit{
                    color:$c468bcb;
                }
                .pro_color{
                    background-color:$c468bcb;
                }
            }
            li:nth-child(6){
                background-color:#e2f8f2;
                .pro_tit{
                    color:$c54a472;
                }
                .pro_color{
                    background-color:$c54a472;
                }
            }
        }
    }
}
.firstStyle{
    height: 430px;
    background:#fff;
    .left_con{
        position: relative;
        float:left;
        width: 236px;
        height: 410px;
        padding-top: 20px;
        text-align: center;
        background:linear-gradient(30deg,#f9ab57 0%,#fab775 32%,#f78a4b 100%);
        h4{
            font-weight:900;
            a{
                border-bottom:1px solid #feeadd;
                display: inline-block;
                padding: 0 10px 10px 15px;
                font-size: 20px;
                color: #fff;
                line-height: 20px;
            }
        }
        .en_tit{
                font-family: "Century Gothic";
                color: #fff;
                font-size: 14px;
                line-height: 24px;
        }
        .floor_slide{
            position: relative;
            margin-top: 35px;
        }
        .comment{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 26px;
            overflow: hidden;
            padding: 8px 0;
            background-color:rgba(255,255,255,0.2);
            .comment_left{
                    width: 42px;
                    height: 26px;
                    float:left;
                    color: #fff;
            }
            .comment_list{
                width: 173px;
                height: 26px;
                overflow: hidden;
                float:right;
                padding: 0 10px;
                text-align:left;
                border-left: 1px solid #f7d9b7;
            }
        }
    }
    .center_con{
        float:left;
        width: 744px;
        background:#fff;
        .keyword{
            height: 40px;
            overflow: hidden;
            border-right: 1px solid #f5f5f5;
            margin-left: 4px;
            color: #aaa;
            ul{
                margin-left: -3px;
                li{
                    float:left;
                    a{
                        display: inline-block;
                        margin: 0 15px;
                        line-height: 40px;
                        color: #aaa;
                        font-size:12px;
                    }
                    a:hover{
                        color:#f78b4b;
                    }
                }
            }
        }
        .pro_wrap{
            float:left;
            position: relative;
            width: 247px;
            height: 194px;
            overflow: hidden;
            border-top: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            a{
                display: block;
                width: 247px;
                height: 174px;
                padding-top: 20px;
                .pro_tit{
                    position: relative;
                    z-index: 105;
                    height: 24px;
                    overflow: hidden;
                    max-width: 145px;
                    margin-left: 20px;
                    font-size: 14px;
                    line-height: 24px;
                    color: #333;
                }
                .pro_sub_tit{
                    position: relative;
                    z-index: 105;
                    height: 24px;
                    overflow: hidden;
                    max-width: 115px;
                    margin-left: 20px;
                    font-size: 14px;
                    line-height: 24px;
                }
                img{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    z-index: 101;
                    width: 130px;
                    height: 130px;
                }
            }
        }
        .brand_wrap{
            float:left;
            position: relative;
            width: 247px;
            height: 194px;
            border-top: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            .brand_cover{
                position: relative;
                width: 204px;
                height: 162px;
                overflow: hidden;
                border: 21px solid #fff;
                border-top: 16px solid #fff;
                border-bottom: 16px solid #fff;
                ul{
                    position: absolute;
                    top: -16px;
                    left: -21px;
                    width: 246px;
                    li{
                        float: left;
                        border-top: 1px solid #f5f5f5;
                        border-right: 1px solid #f5f5f5;
                        a{
                            display: block;
                            width: 80px;
                            height: 32px;
                            padding: 16px 21px 16px 21px;
                            img{
                                width: 80px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    .hot_con{
        float:right;
        width: 248px;
        background:#fff;
        .hot_tit{
            margin-top: 15px;
            color: #666;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
        .rank_list{
            padding: 0 25px;
            ul{
                margin:0;
                padding:0;
                li{
                    margin-top: 15px;
                    height: 61px;
                    a{
                        position: relative;
                        display: block;
                        img{
                            float:left;
                            width: 60px;
                            height: 60px;
                        }
                        i{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 12px;
                            height: 12px;
                            background-color: #ff4040;
                            text-align: center;
                            line-height: 12px;
                            color: #fff;
                            font-style: normal;
                            font-family: "Tahoma";
                            font-size: 11px;
                        }
                        .rank_detail{
                            float:right;
                            width: 125px;
                            .pro_name{
                                height: 40px;
                                overflow: hidden;
                                line-height: 20px;
                                font-size:12px;
                                color:#333;
                            }
                            .pro_price{
                                margin-top: 5px;
                                color: #ff4040;
                                font-family: "Microsoft YaHei";
                                font-size:12px;
                                em{
                                    font-style: normal;
                                    font-size:12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.secondStyle{
    width: 608px;
    height: 430px;
    background-color: #fff;
    .floor_tit{
        background: linear-gradient(to right,#0bcd96 0%,#05d7a8 100%);
        height: 25px;
        padding: 12px 10px 12px 18px;
        color: #fff;
        line-height: 25px;
        h4{
            float:left;
            font-size: 20px;
            font-weight: normal;
            a{
                color: #fff;
                em{
                    margin-left: 10px;
                    font-family: "\5b8b\4f53";
                    font-weight: bold;
                                }
            }
        }
        .keywords{
            float:right;
            max-width: 430px;
            height: 24px;
            overflow: hidden;
            text-align:right;
            line-height: 24px;
            ul{
                margin-right: -5px;
                li{
                    float:left;
                    font-size:12px;

                    a{
                        margin: 0 8px;
                        color:#fff;
                    }
                    a:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .left_slide{
        position: relative;
        float:left;
        width: 236px;
        height: 381px;
        overflow: hidden;
    }
    .pro_con{
        float:left;
        width: 186px;
        height: 381px;
        .pro_wrap{
            position: relative;
            width: 185px;
            height: 190px;
            border-bottom: 1px solid #f5f5f5;
            border-left: 1px solid #f5f5f5;
            a{
                display: block;
                height: 170px;
                padding-top: 20px;
                .pro_tit{
                    height: 24px;
                    max-width: 100px;
                    margin-left: 20px;
                    font-size: 14px;
                    line-height: 24px;
                    color: #333;
                    overflow: hidden;
                }
                .pro_sub_tit{
                    height: 24px;
                    position: relative;
                    z-index: 105;
                    max-width: 100px;
                    margin-left: 20px;
                    font-size: 14px;
                    line-height: 24px;
                    overflow: hidden;
                }
                img{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    z-index: 101;
                    width: 105px;
                    height: 105px;
                }
            }
        }
    }
}
.knowYW{
    h4{
        text-align: center;
        font-size: 18px;
        font-weight: normal;
    }
    .like_list{
        position: relative;
        padding-bottom: 110px;
        overflow: hidden;
        ul{
            margin-right: -12px;
            li{
                width: 236px;
                float:left;
                margin: 12px 12px 0 0;
                a{
                    display: block;
                    width: 214px;
                    height: 293px;
                    overflow: hidden;
                    margin: 0 auto;
                    padding: 10px;
                    border: 1px solid #fff;
                    background-color: #fff;
                    color: #333;
                    .flip_wrap{
                        margin:0 auto;
                        .pro_pic{
                            position: relative;
                            padding-top: 220px;
                            margin: 0 auto;
                            background-color: #f8f8f8;
                            text-align: center;
                            img{
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 220px;
                            }
                        }
                        .pro_name{
                            position: relative;
                            height: 40px;
                            overflow: hidden;
                            margin-top: 5px;
                            line-height: 20px;
                            transition: all .5s ease;
                            font-size: 14px;
                            .pro_mark{
                                position: absolute;
                                left: 0;
                                top: 40px;
                                height: 40px;
                                width: 220px;
                            }
                            span{
                                line-height: 14px;
                                background-color: #ffefef;
                                color: #f66;
                                border: 1px solid #f3a3ad;
                                margin-right: 2px;
                                margin-left: 0px;
                                margin-top: 2px;
                            }
                        }
                        .pro_price{
                            height: 30px;
                            margin-top: 5px;
                            line-height: 30px;
                            color: #f12c30;
                            font-weight: bold;
                            font-family: "Microsoft Yahei";
                            font-size: 14px;
                            float: left;
                            span{
                                line-height: 30px;
                                color: #f12c30;
                                font-weight: bold;
                                
                            }
                        }
                    }
                }
            }
        }
        .goods_icon{
                    line-height: 30px;
                    color: #f12c30;
                    font-weight: bold;
                    font-family: "Microsoft Yahei";
                    font-size: 14px;
                }
        .pro_tag{
            float:right;
            margin-top: 5px;
            .off_icon{
                float:left;
                margin-top: 6px;
                background-color: #fff3fa;
                color: #ff62a1;
                border: 1px solid #ffcce0;
            }
        }
    }
}
footer{
    .footer_img{
        padding: 30px 0;
        border-bottom: 1px solid #ebebeb;
        a{
            float: left;
            display: block;
            width: 205px;
            overflow: hidden;
            margin: 0 51px;
            img{
                float: left;
                display: block;
                width: 66px;
                height: 66px;
                margin-right: 15px;
            }
            b{
                display: block;
                margin-top: 10px;
                font-family: "Microsoft YaHei";
                font-size: 16px;
                color: #333;
            }
            span{
                font-family: "Microsoft YaHei";
                font-size: 14px;
                color: #999;
                line-height: 26px;
            }
        }
    }
    .service_link{
        padding: 20px 0 20px;
        overflow: hidden;
        .help_list{
            float: left;
            padding-left: 15px;
            dl{
                float: left;
                display: block;
                width: 195px;
                dt{
                    height: 32px;
                    padding: 0 8px;
                    font-size: 14px;
                    color: #666;
                    line-height: 32px;
                    overflow: hidden;
                    font-family: "Microsoft YaHei";
                    font-weight: bold;
                }
                dd{
                    height: 24px;
                    padding: 0 8px;
                    line-height: 24px;
                    overflow: hidden;
                    white-space: normal;
                    font-size: 12px;
                    a{
                        color: #666;
                    }
                }
            }
        }
        .code_wrap{
            width: 280px;
            overflow: hidden;
            float: left;
            margin-right: -50px;
            dl{
                float: left;
                margin-right: 50px;
                line-height: 32px;
                font-size: 14px;
                font-weight: bold;
                color: #666;
                dt{
                    img{
                        width: 90px;
                        height: 90px;
                    }
                }
            }
        }
    }
    .copyright{
        p{
            color: #666;
            text-align: center;
            text-indent: 0;
            line-height: 100%;
            margin: 15px 0;
            padding: 0;
            font-size:12px;
            a{
                color: #666;
                margin: 0px 10px;
            }
        }
        .pic_link{
            display: block;
            padding: 10px 0 20px;
            text-align: center;
            font-size: 0;
            a{
                display: inline-block;
                margin: 0 4px;
            }
        }
    }
}
.rushPurchase>a{
    float: left;
    width: 205px;
    height: 98px;
    padding-top: 42px;
    overflow: hidden;
}