body {
  background: #FCFCFC; }

#log_main {
  width: 980px;
  margin: 0 auto;
  padding: 20px 0 0; }
  #log_main .left_banner {
    float: left;
    width: 510px;
    height: 315px;
    margin-top: 45px; }
  #log_main .log_wap {
    width: 330px;
    padding: 45px 35px 0 35px;
    background-color: #fff; }
    #log_main .log_wap h3 {
      float: left;
      font-size: 14px;
      color: #666;
      font-weight: bold;
      line-height: 30px; }
    #log_main .log_wap a {
      float: right;
      line-height: 30px; }
    #log_main .log_wap form .form_item {
      border: 1px solid #dedede;
      background: #fff;
      padding: 14px 18px;
      margin-bottom: 10px; }
    #log_main .log_wap form input[type="button"] {
      background: #ff3c3c;
      width: 100%;
      height: 50px;
      color: #fff;
      font-size: 16px;
      border-radius: 3px;
      margin: 13px 0; }
    #log_main .log_wap form p {
      font-size: 12px;
      color: #999; }
    #log_main .log_wap form .acompany {
      margin-top: 13px;
      margin-bottom: 30px; }
      #log_main .log_wap form .acompany i {
        font-size: 32px;
        line-height: 35px;
        margin-right: 10px; }
      #log_main .log_wap form .acompany i:nth-child(1) {
        color: #10a8ff; }
      #log_main .log_wap form .acompany i:nth-child(2) {
        color: #c81825; }
      #log_main .log_wap form .acompany i:nth-child(3) {
        color: #0c0; }
      #log_main .log_wap form .acompany i:nth-child(4) {
        color: #dd2e37; }
      #log_main .log_wap form .acompany span {
        font-size: 12px;
        color: #999; }
        #log_main .log_wap form .acompany span b {
          display: inline-block;
          width: 13px;
          height: 13px;
          border: 1px solid #aaa;
          font-size: 12px;
          line-height: 12px;
          text-align: center;
          margin-left: 6px;
          transform: rotate(90deg); }
    #log_main .log_wap form .more_w {
      display: none; }
      #log_main .log_wap form .more_w li {
        float: left;
        font-size: 12px;
        color: #888;
        margin-right: 2px;
        margin-top: 8px;
        width: 80px; }
        #log_main .log_wap form .more_w li i {
          font-size: 20px; }
      #log_main .log_wap form .more_w li:nth-child(1) i {
        color: #00b2ee; }
      #log_main .log_wap form .more_w li:nth-child(2) i {
        color: #c4282b; }
      #log_main .log_wap form .more_w li:nth-child(3) i {
        color: #2932e1; }
      #log_main .log_wap form .more_w li:nth-child(4) li {
        color: #c4282b; }
      #log_main .log_wap form .more_w li:nth-child(5) i {
        color: #ccc; }
      #log_main .log_wap form .more_w li:nth-child(6) i {
        color: #005eac; }
      #log_main .log_wap form .more_w li:nth-child(7) i {
        color: #ff3204; }
      #log_main .log_wap form .more_w li:nth-child(8) i {
        color: #e84478; }

#log_footer {
  text-align: center;
  color: #999;
  font-size: 12px; }
  #log_footer a {
    color: #999; }
